{% extends 'base/base_course.html' %}
{% block title %}
    course_detail
{% endblock %}
{% block course_link %}
    <link rel="stylesheet" href="{% static 'css/course.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/course_detail.min.css' %}">
    <script src="//at.alicdn.com/t/font_653983_m0b0p7q4or.js"></script>
{% endblock %}
{% block article %}
    <section class="article_left">
        <div class="course-main">
            <div class="course-title">面对危机公关，多快算快
            </div>
            <div class="share">分享至：
                <span>腾讯</span>
                <span>微博</span>
            </div>
            <div class="course-pic">
                <img src="" alt="">
            </div>
        </div>
        <div class="course-info">
            <div class="course-left">
                <div class="teacher-info">
                    <div class="little-title">
                        课程讲师
                    </div>
                    <div class="teacher-person">
                        <div class="teacher-pic"><img src="" alt=""></div>
                        <div class="teacher-name">
                            XXXXXXX
                        </div>
                    </div>
                    <div class="teacher-detail">
                        XXXXXXXXX
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

