{% extends 'base/base.html' %}
{% block link %}
    <link rel="stylesheet" href="{% static '' %}css/article_right.min.css">
    <script src="{% static '' %}js/article_right.min.js"></script>
    {% block news_link %}
    {% endblock %}
{% endblock %}

{% block article %}

    {% block article_left %}
    {% endblock %}

    <section class="article_right">
        <div class="qm">
            <div class="qm-header clearfix">
                <span class="title">小饭桌快讯</span>
                <a class="more" href="javascript:;">更多</a>
            </div>
            <ul class="qm-list">
                <li class="clearfix">
                    <div class="list-title">
                        愿景娱乐单月全站直播流水破亿
                    </div>
                    <div class="list-content">
                        据美国WTVR电视台报道，NASA局长吉姆·布里登斯廷在接受美国CNN采访时，首次公开披露了登月计划的总预算估值。布里登斯廷表示，在未来5年时间里，NASA需要200亿-300亿美元的资金把梦想变成现实。NASA每年的预算平均会增加40亿-60亿美元，预计年预算达到200亿美元左右。


                    </div>
                    <div class="list-other">
                        <div class="time">28分钟前</div>
                        <div class="share">
                            <span>分享至</span>
                            <a href="https://share.baidu.com/s?type=text&searchPic=1&sign=on&to=tsina&url=https://www.xfz.cn/news-flash/1202.html&f=weibo&title=愿景娱乐单月全站直播流水破亿%23小饭桌快讯%23&key=3301380851&pic=https://static-image.xfz.cn/xfz-share-logo-300.png">
                                <svg class="icon weixin" aria-hidden="true">
                                    <use xlink:href="#icon-weixin-"></use>
                                </svg>
                            </a>
                            <a href="https://share.baidu.com/s?type=text&searchPic=1&sign=on&to=tsina&url=https://www.xfz.cn/news-flash/1202.html&f=weibo&title=愿景娱乐单月全站直播流水破亿%23小饭桌快讯%23&key=3301380851&pic=https://static-image.xfz.cn/xfz-share-logo-300.png">
                                <svg class="icon weibo" aria-hidden="true">
                                    <use xlink:href="#icon-logo-weibo"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="list-title">
                        愿景娱乐单月全站直播流水破亿
                    </div>
                    <div class="list-content">
                        据美国WTVR电视台报道，NASA局长吉姆·布里登斯廷在接受美国CNN采访时，首次公开披露了登月计划的总预算估值。布里登斯廷表示，在未来5年时间里，NASA需要200亿-300亿美元的资金把梦想变成现实。NASA每年的预算平均会增加40亿-60亿美元，预计年预算达到200亿美元左右。


                    </div>
                    <div class="list-other">
                        <div class="time">28分钟前</div>
                        <div class="share">
                            <span>分享至</span>
                            <a href="https://share.baidu.com/s?type=text&searchPic=1&sign=on&to=tsina&url=https://www.xfz.cn/news-flash/1202.html&f=weibo&title=愿景娱乐单月全站直播流水破亿%23小饭桌快讯%23&key=3301380851&pic=https://static-image.xfz.cn/xfz-share-logo-300.png">
                                <svg class="icon weixin" aria-hidden="true">
                                    <use xlink:href="#icon-weixin-"></use>
                                </svg>
                            </a>
                            <a href="https://share.baidu.com/s?type=text&searchPic=1&sign=on&to=tsina&url=https://www.xfz.cn/news-flash/1202.html&f=weibo&title=愿景娱乐单月全站直播流水破亿%23小饭桌快讯%23&key=3301380851&pic=https://static-image.xfz.cn/xfz-share-logo-300.png">
                                <svg class="icon weibo" aria-hidden="true">
                                    <use xlink:href="#icon-logo-weibo"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="list-title">
                        愿景娱乐单月全站直播流水破亿
                    </div>
                    <div class="list-content">
                        据美国WTVR电视台报道，NASA局长吉姆·布里登斯廷在接受美国CNN采访时，首次公开披露了登月计划的总预算估值。布里登斯廷表示，在未来5年时间里，NASA需要200亿-300亿美元的资金把梦想变成现实。NASA每年的预算平均会增加40亿-60亿美元，预计年预算达到200亿美元左右。


                    </div>
                    <div class="list-other">
                        <div class="time">28分钟前</div>
                        <div class="share">
                            <span>分享至</span>
                            <a href="https://share.baidu.com/s?type=text&searchPic=1&sign=on&to=tsina&url=https://www.xfz.cn/news-flash/1202.html&f=weibo&title=愿景娱乐单月全站直播流水破亿%23小饭桌快讯%23&key=3301380851&pic=https://static-image.xfz.cn/xfz-share-logo-300.png">
                                <svg class="icon weixin" aria-hidden="true">
                                    <use xlink:href="#icon-weixin-"></use>
                                </svg>
                            </a>
                            <a href="https://share.baidu.com/s?type=text&searchPic=1&sign=on&to=tsina&url=https://www.xfz.cn/news-flash/1202.html&f=weibo&title=愿景娱乐单月全站直播流水破亿%23小饭桌快讯%23&key=3301380851&pic=https://static-image.xfz.cn/xfz-share-logo-300.png">
                                <svg class="icon weibo" aria-hidden="true">
                                    <use xlink:href="#icon-logo-weibo"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="look-more">
                <a href="javascript:;">
                    查看更多
                </a>
            </div>
        </div>
        <div class="side-course">
            <div class="course-header clearfix">
                <span class="title">小饭桌创业课堂</span>
                <a class="more" href="javascript:;">更多</a>
            </div>
            <ul class="course-list">
                <li>
                    <a href="javascript:;"><img src="{% static '' %}img/news/course1.png" alt=""></a>
                    <span class="course-detail">
                        蚂上创业营，招生启动！
                    </span>
                </li>
            </ul>


        </div>
        <div class="side-author">
            <div class="author-header clearfix">
                <span class="title">作者专栏</span>
            </div>
            <ul class="author-list ">
                <li class="clearfix">
                    <a href="javascript:;">
                        <div class="author-pic">
                            <img src="{% static '' %}img/news/1533547276_895.png" alt="">
                        </div>
                        <div class="author-intro">
                            <div class="main">
                                <span class="name">王艳</span>
                                <span class="job">记者/</span>
                                <span class="article-num">266篇</span>
                            </div>
                            <div class="detail">
                                泰康孟特娇。关注教育、人工智能
                            </div>
                        </div>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="javascript:;">
                        <div class="author-pic">
                            <img src="{% static '' %}img/news/1533547276_895.png" alt="">
                        </div>
                        <div class="author-intro">
                            <div class="main">
                                <span class="name">王艳</span>
                                <span class="job">记者/</span>
                                <span class="article-num">266篇</span>
                            </div>
                            <div class="detail">
                                泰康孟特娇。关注教育、人工智能
                            </div>
                        </div>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="javascript:;">
                        <div class="author-pic">
                            <img src="{% static '' %}img/news/1533547276_895.png" alt="">
                        </div>
                        <div class="author-intro">
                            <div class="main">
                                <span class="name">王艳</span>
                                <span class="job">记者/</span>
                                <span class="article-num">266篇</span>
                            </div>
                            <div class="detail">
                                泰康孟特娇。关注教育、人工智能
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
        <div class="ad">
            <img src="{% static '' %}img/news/1554346383_8.png" alt="">
        </div>
        <div class="hot-article">
            <div class="article-header clearfix">
                <span class="title">热门文章</span>
            </div>
            <ul class="hot-list">
                <li class="clearfix">
                    <a href="javascript:;">
                        <div class="content">
                            <div class="title">早报：孙宇晨怒怼王思聪“靠爹”；微软股价飙升创历史最高；搜狐社交App狐友正式上线</div>
                            <div class="others">
                                <span class="categ">热点</span>
                                <span class="time">6月14日</span>
                            </div>
                        </div>
                        <div class="pic">
                            <img src="{% static '' %}img/news/1560124818_435.jpg" alt="">
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    </section>
    <script>
    $(function () {
        $('.nav .header-li .header-news').addClass('active')

    })
    </script>
{% endblock %}